VITE_API_BASE_URL=https://openrouter.ai/api/v1
VITE_OPENROUTER_API_KEY=YOUR_API_KEY_HERE
VITE_TEXT_EMBEDDING_MODEL=nvidia/nemotron-3-embed-1b:free
VITE_CHAT_MODEL=openrouter/free
VITE_SUPABASE_PROJECT_URL=YOUR_SUPABASE_PROJECT_URL_HERE
VITE_SUPABASE_API_KEY=YOUR_SUPABASE_ANON_API_KEY_HERE